.section-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 6.4rem 2.4rem;
  background-color: $primary-tint-light;
}

.about {
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    border: 5px solid $primary-grey;

    padding: 1.2rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  &__header {
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      height: 5px;
      width: 100%;
      background-color: $secondary-tint-dark;
      top: 30px;
      left: 0px;
    }
  }
}
