.section-contact {
  color: $primary-color;
  padding: 4.8rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
