.header {
  position: relative;
  height: calc(100vh - 11px);
  overflow: hidden;

  &__logo {
    position: absolute;
    top: 2.3rem;
    left: 2rem;
    font-size: 1.6rem;
    color: $primary-color;
    cursor: pointer;
    transition: all 400ms ease;

    &--secondary {
      color: $primary-color;
      cursor: pointer;
      transition: all 400 ms ease;

      &:hover {
        color: $secondary-color;
      }
    }

    &:hover {
      color: $secondary-color;
    }
  }

  #particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $primary-black;
    z-index: -2;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}

.nav {
  top: 0;
  left: 0;
  background-color: rgba($primary-color, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateX(100%);
  transition: all 2s ease;

  &.open {
    transform: translateX(0%);
    background-color: rgba($primary-shade-dark, 0.97);
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    height: 100%;
  }

  &__list-item {
    list-style: none;
    font-size: 3rem;
    text-transform: uppercase;

    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    transform: translateX(200%);

    &.open-item {
      transform: translate(0%);
    }

    a {
      text-decoration: none;
      color: #fff;
      transition: all 500ms ease;

      &:hover {
        color: black;
      }
    }
  }
}

.nav-secondary {
  display: none;
  padding: 2rem 0 0 0;

  &__list {
    color: $primary-white;
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  &__item {
    text-transform: uppercase;
    transition: all 200ms ease;
    cursor: pointer;
    padding-bottom: 0.3rem;
    border-bottom: 3px solid transparent;

    &.active {
      color: $secondary-color;
      border-bottom: 3px solid white;
    }
  }
}

.hero {
  display: flex;
  padding: 4.8rem 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__heading {
    position: relative;
    color: $primary-color;
    line-height: $line-height-medium;
    margin-bottom: 2.4rem;
    transition: all 0.5s ease;

    span {
      position: relative;
      color: $primary-tint-light;
    }

    &:hover {
      color: $secondary-color;
    }
  }

  &__heading-tertiary {
    position: relative;
    margin-bottom: 6.4rem;

    &::after {
      position: absolute;
      content: '';
      top: 3rem;
      left: 0;
      height: 0.5rem;
      width: 100%;
      background-color: $primary-shade-light;
    }
  }

  &__image-box {
    display: flex;
    flex-direction: column;
  }

  img {
    object-fit: cover;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid $primary-tint-light;
  }
}

.socials {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 3.2rem;

  .icon {
    cursor: pointer;
    color: #fff;
    transition: all 0.5s ease;

    &:hover {
      color: $primary-color;
    }
  }
}

@media (min-width: 340px) {
  .hero {
    padding: 10rem 2rem 0rem 2rem;
  }
}

@media (min-width: 600px) {
  .heading-primary {
    font-size: 4.8rem;
  }

  .header__logo {
    display: none;
  }

  .nav-secondary {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
  }

  .hero {
    height: 80%;
    flex-direction: row;
    padding: 0rem 4.2rem;

    &__info {
      align-items: start;
    }

    &__image-box {
      img {
        width: 225px;
        height: 225px;
      }
    }
  }

  .hamburger {
    display: none;
  }
}
