.header {
  position: relative;
  height: 100vh;

  &__logo {
    font-size: 2rem;
    padding: 1.5rem 1rem 4.8rem;
    color: $primary-color;
  }

  #particles-js {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: $primary-black;
    z-index: -2;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}

.nav {
  top: 0;
  left: 0;
  background-color: rgba($primary-color, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateX(100%);
  transition: all 2s ease;

  &.open {
    transform: translateX(0%);
    background-color: rgba($primary-shade-dark, 0.8);
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    height: 100%;
  }

  &__list-item {
    list-style: none;

    font-size: 3rem;
    text-transform: uppercase;

    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    transform: translateX(200%);

    &.open-item {
      transform: translate(0%);
    }

    a {
      text-decoration: none;
      color: #fff;
      transition: all 500ms ease;

      &:hover {
        color: black;
      }
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__subheading {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: $primary-white;
  }

  &__header {
    position: relative;
    left: -2.2rem;
    color: $primary-color;
    line-height: $line-height-medium;
    margin-bottom: 2.4rem;
    transition: all 0.5s ease;

    span {
      position: relative;
      right: -3.2rem;
      color: $primary-tint-light;
    }

    &:hover {
      color: $secondary-color;
    }
  }

  &__header-tertiary {
    position: relative;
    color: $primary-white;

    &::after {
      position: absolute;
      content: '';
      top: 3rem;
      left: 0;
      height: 0.5rem;
      width: 105%;
      background-color: $primary-shade-light;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 5.2rem;
    justify-content: center;
    align-items: center;
  }

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid $primary-tint-light;
  }
}

.socials {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 4rem;

  .icon {
    color: #fff;
    transition: all 0.5s ease;
  }

  &__facebook:hover {
    color: $primary-color;
  }

  &__instagram:hover {
    color: $primary-color;
  }

  &__linkedin:hover {
    color: $primary-color;
  }
}
