.section-skills {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $primary-white;
  padding: 4.8rem 0;
}

.skill-cards {
  display: flex;
  justify-content: center;
}

.skill-card {
  padding: 4rem 6rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    &__heading-tertiary {
      position: relative;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-small;

      &::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: $secondary-tint-dark;
        top: 30px;
        left: 0px;
      }
    }
  }

  &__icon {
    padding: 1.2rem;
    color: $secondary-color;
    border-radius: 50%;
    border: 5px solid $primary-grey-tint;
    margin-bottom: 2.4rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.4rem;
  }

  &__item {
    display: flex;
    align-items: center;
    letter-spacing: $letter-spacing-small;
    color: $primary-grey-shade;
    background-color: $secondary-tint-dark;
    padding: 0.8rem 2rem;
    border-radius: $border-radius-medium;

    span {
      padding-left: 1rem;
      letter-spacing: 2px;
      font-weight: 500;
    }
  }
}
