.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.display-none {
  display: none;
}

.center-gap-1rem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
