.hero {
  display: flex;
  padding: 8.4rem 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--btn {
      display: none;
    }
  }

  &__heading {
    position: relative;
    color: $primary-color;
    line-height: $line-height-medium;
    margin-bottom: 2.4rem;
    transition: all 0.5s ease;

    span {
      position: relative;
      color: $primary-tint-light;
    }

    &:hover {
      color: $secondary-color;
    }
  }

  &__heading-tertiary {
    position: relative;
    margin-bottom: 6.4rem;

    &::after {
      position: absolute;
      content: '';
      top: 3rem;
      left: 0;
      height: 0.5rem;
      width: 100%;
      background-color: $primary-shade-light;
    }
  }

  &__image-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 4;
  }

  &__img {
    object-fit: cover;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid $primary-tint-light;
    box-shadow: $primary-shadow;
    position: relative;
    transition: all 2s ease;
    filter: drop-shadow(10px 10px 15px $primary-color) saturate(140%)
      blur(0.4px);

    &:hover {
      transform: rotateY(40deg);
    }
  }
}
