.header.skills {
  position: relative;
  height: calc(100vh - 11px);
  overflow: hidden;

  #particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ef4444;
    z-index: -2;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}

.section-skills {
  display: flex;
  margin-top: 8rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    // background-color: #ef4444;
  }

  &__heading {
    position: relative;
    margin-bottom: 4rem;
    letter-spacing: 2px;
    text-align: center;

    &::after {
      position: absolute;
      content: '';
      top: 3.2rem;
      left: 0;
      height: 0.5rem;
      width: 100%;
      background-color: $primary-shade-light;
    }
  }

  &__icon {
    width: 2.75rem;
    height: 2.75rem;
    transform: translateY(100vh);

    &--one {
      animation: 1.5s forwards 0s linear viewport-up;
    }
    &--two {
      animation: 0.5s forwards 0.5s linear viewport-up;
    }
    &--three {
      animation: 1s forwards 0.5s linear viewport-up;
    }
    &--four {
      animation: 0.5s forwards 0.5s linear viewport-up;
    }
    &--five {
      animation: 0.25s forwards 1s linear viewport-up;
    }
    &--six {
      animation: 1.5s forwards 0.5s linear viewport-up;
    }
  }
}
